h1 {text-align: center;}
h2 {text-align: center;}
#inicio{background-color:#F0E68C;}
#moto{background-color: #87CEEB;}
#carro{background-color: #00FA9A;}
#caminhao{background-color: #D2B48C;}
#exibir{background-color: darkslategrey;
color:aliceblue; margin: 150px; border: 10px;}